[data-md-color-scheme="hotio"] {
  --md-primary-fg-color:             #3c3f44ff;
  --md-primary-fg-color--dark:       #3c3f44ff;
  --md-primary-fg-color--light:      #ffb64c;
  --md-accent-fg-color--transparent: #7575754d;
  --md-accent-fg-color:              #757575;
  --md-typeset-a-color:              #ffb64c;
  --md-code-hl-number-color:         #F94144;
  --md-code-hl-special-color:        #F3722C;
  --md-code-hl-function-color:       #577590;
  --md-code-hl-constant-color:       #277DA1;
  --md-code-hl-keyword-color:        #277DA1;
  --md-code-hl-string-color:         #43aa8b;
  --md-code-hl-variable-color:       #277DA1;
}
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
#beating-heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
[title=Donate] svg {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
.tag-decoration-latest {
  border-color: var(--md-typeset-a-color);
  color: var(--md-typeset-a-color);
  cursor: default;
  border: solid 1px;
  border-radius: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: auto;
  height: auto;
  padding: 2px 5px 2px 5px;
  font-size: .7em;
  display: inline-flex;
  font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
  white-space: nowrap;
}
.tag-decoration {
  cursor: pointer;
  border: solid 1px;
  border-radius: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: auto;
  height: auto;
  padding: 2px 5px 2px 5px;
  font-size: .7em;
  display: inline-flex;
  font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
  white-space: nowrap;
}
.tag-decoration:hover {
  background-color: var(--md-accent-fg-color--transparent);
  border-color: var(--md-accent-fg-color--transparent);
}
.vpnbanner {
  border-radius: 5px;
  margin-right: 10px;
}
#tags-table a, #donate-grid a, a.header-links {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: var(--md-primary-fg-color);
}
#tags-table th, #tags-table td:nth-child(4) {
  white-space: nowrap;
}
