[data-md-color-scheme="hotio"] {
  --md-primary-fg-color:             #48423e;
  --md-primary-fg-color--light:      #ffdf8e;
  --md-primary-fg-color--dark:       #aeaeae;
  --md-accent-fg-color:              #aeaeae;
  --md-footer-bg-color:              #aeaeae;
  --md-footer-fg-color:              #48423e;
  --md-typeset-a-color:              #aeaeae;
  --md-code-hl-color:                #ffdf8e5d;
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}

@keyframes heartfooter {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
[title=Donate] svg {
  animation: heartfooter 1000ms infinite;
}

a.header-icons {
  color: #000000DE;
}

.donate-button {
  width: 250px;
}

:root {
  --md-admonition-icon--docker: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="docker" class="svg-inline--fa fa-docker fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4.4 67.6.1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z"></path></svg>')
}
.md-typeset .admonition.docker,
.md-typeset details.docker {
  border-color: rgb(117, 117, 117);
}
.md-typeset .docker > .admonition-title,
.md-typeset .docker > summary {
  background-color: rgba(117, 117, 117, 0.1);
}
.md-typeset .docker > .admonition-title::before,
.md-typeset .docker > summary::before {
  background-color: rgb(117, 117, 117);
  -webkit-mask-image: var(--md-admonition-icon--docker);
          mask-image: var(--md-admonition-icon--docker);
}

#tags-table th svg path {
  fill: white;
}
#tags-table th svg {
  margin-right: 5px;
}

#stats-pulls {
  margin-right: 10px;
}

.pullio-banner {
  width: auto;
  height: 150px;
  display: flex;
  align-content: flex-start;
}
.pullio-banner img {
  max-width: 100%;
  max-height: 100%;
}
.pullio-banner-text {
  width: max-content;
  height: max-content;
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
}

.image-logo {
  width: 130px;
  height: 130px;
  display: flex;
}
.image-logo img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.no-logo img {
  opacity: 0.2;
}

.pullio-preview {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.pullio-preview img {
  max-width: 100%;
  max-height: 400px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  /* border-bottom: 1px dotted #000000DE; /* little indicater to indicate it's hoverable */
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  
  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */
  
  /* basic styles */
  min-width: 130px;
  padding: 5px;
  border-radius: 5px;
  background: #48423e;
  color: #fff;
  text-align: center;
  font-size: 14px;

  display: none; /* hide by default */
}
.tooltip:hover:before {
  display: block;
  z-index: 100;
}
.tooltip:after {
  content: "";
  position: absolute;
  
  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;
 
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
 
  /* the arrow */
  border: 10px solid #48423e;
  border-color: transparent #48423e transparent transparent;
  
  display: none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display: block;
  z-index: 100;
}
