[data-md-color-scheme="hotio"] {
  --md-primary-fg-color:             #6c5d53;
  --md-primary-fg-color--light:      #ffdf8e;
  --md-primary-fg-color--dark:       #ffb64c;
  --md-accent-fg-color:              #ffb64c;
  --md-footer-bg-color:              #ffb64c;
  --md-footer-fg-color:              #6c5d53;
  --md-typeset-a-color:              #ffb64c;
  --md-code-hl-color:                #ffdf8e5d;
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
