[data-md-color-scheme="hotio"] {
  --md-primary-fg-color:             #48423e;
  --md-primary-fg-color--light:      #ffdf8e;
  --md-primary-fg-color--dark:       #aeaeae;
  --md-accent-fg-color:              #aeaeae;
  --md-footer-bg-color:              #aeaeae;
  --md-footer-fg-color:              #48423e;
  --md-typeset-a-color:              #aeaeae;
  --md-code-hl-color:                #ffdf8e5d;
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}

@keyframes heartfooter {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
[title=Donate] svg {
  animation: heartfooter 1000ms infinite;
}

a.header-icons {
  color: #48423e;
}

.donate-button {
  width: 250px;
}
