[data-md-color-scheme="hotio"] {
  --md-primary-fg-color:             #3c3f44ff;
  --md-primary-fg-color--dark:       #3c3f44ff;
  --md-primary-fg-color--light:      #ffb64c;
  --md-accent-fg-color--transparent: #7575754d;
  --md-accent-fg-color:              #757575;
  --md-typeset-a-color:              #ffb64c;
  --md-code-hl-number-color:         #F94144;
  --md-code-hl-special-color:        #F3722C;
  --md-code-hl-function-color:       #577590;
  --md-code-hl-constant-color:       #277DA1;
  --md-code-hl-keyword-color:        #277DA1;
  --md-code-hl-string-color:         #43aa8b;
  --md-code-hl-variable-color:       #277DA1;
}
:root {
  --md-admonition-icon--docker: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="docker" class="svg-inline--fa fa-docker fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4.4 67.6.1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z"></path></svg>')
}
.md-typeset .admonition.docker,
.md-typeset details.docker {
  border-color: rgb(117, 117, 117);
}
.md-typeset .docker > .admonition-title,
.md-typeset .docker > summary {
  background-color: rgba(117, 117, 117, 0.1);
}
.md-typeset .docker > .admonition-title::before,
.md-typeset .docker > summary::before {
  background-color: rgb(117, 117, 117);
  -webkit-mask-image: var(--md-admonition-icon--docker);
          mask-image: var(--md-admonition-icon--docker);
}
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
#beating-heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
[title=Donate] svg {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
.tag-decoration-latest {
  border-color: var(--md-typeset-a-color);
  color: var(--md-typeset-a-color);
  cursor: default;
  border: solid 1px;
  border-radius: 7px; /* Making border radius */
  margin-bottom: 5px;
  margin-right: 5px;
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 2px 5px 2px 5px; /* Making space around letters */
  font-size: .7em; /* Changing font size */
  display: inline-flex;
  font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
  white-space: nowrap;
}
.tag-decoration {
  cursor: pointer;
  border: solid 1px;
  border-radius: 7px; /* Making border radius */
  margin-bottom: 5px;
  margin-right: 5px;
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 2px 5px 2px 5px; /* Making space around letters */
  font-size: .7em; /* Changing font size */
  display: inline-flex;
  font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
  white-space: nowrap;
}
.tag-decoration:hover {
  background-color: var(--md-accent-fg-color--transparent);
  border-color: var(--md-accent-fg-color--transparent);
}
.vpnbanner {
  border-radius: 5px;
  margin-right: 10px;
}
#tags-table a, #donate-grid a, a.header-icons {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: var(--md-primary-fg-color);
}
#tags-table th, #tags-table td:nth-child(4) {
  white-space: nowrap;
}
